<div class="layout-box">
    <div class="p-10">
        <a routerLink="/unidades" class="flex items-center gap-2 hover:underline"><i class="pi pi-arrow-left"></i> Volver</a>
        <div class="mt-5">
            <div class="flex flex-col gap-4">
                <div class="flex items-center gap-4 w-full justify-between">
                    <div class="flex flex-col gap-2 w-full">
                        <label for="">Nombre</label>
                        <input type="text" pInputText>
                    </div>
                    <div class="flex flex-col gap-2 w-full">
                        <label for="">Marca</label>
                        <input type="text" pInputText>
                    </div>
                    <div class="flex flex-col gap-2 w-full">
                        <label for="">Modelo</label>
                        <input type="text" pInputText>
                    </div>
                </div>
                <div class="flex items-center gap-4 w-full justify-between">
                    <div class="flex flex-col gap-2 w-full">
                        <label for="">Serie del Motor</label>
                        <input type="text" pInputText>
                    </div>
                    <div class="flex flex-col gap-2 w-full">
                        <label for="">Chasis</label>
                        <input type="text" pInputText>
                    </div>
                    <div class="flex flex-col gap-2 w-full">
                        <label for="">Año</label>
                        <input type="text" pInputText>
                    </div>
                </div>
                <div class="flex items-center gap-4 w-full justify-between">
                    <div class="flex flex-col gap-2 w-full">
                        <label for="">Proveedor</label>
                        <input type="text" pInputText>
                    </div>
                </div>
                <div class="flex items-center gap-3 w-full justify-between">
                    <div class="flex flex-col gap-2 w-full">
                        <label for="">Comentarios</label>
                        <textarea type="text" pInputTextarea></textarea>
                    </div>
                </div>
            </div>
            <div class="flex justify-end mt-5">
                <button pButton class="p-button-success font-semibold">Aceptar</button>
            </div>
        </div>
    </div>
</div>
